In [7]:
import pandas as pd
import numpy as np
from IPython.display import display

pd.options.display.max_columns = 100
pd.options.display.max_rows = 20

In [8]:
disease_code = 309

SD_patient = pd.read_csv('{}_Patient.csv'.format(disease_code))
SD_med = pd.read_csv('short_{}_Med.csv'.format(disease_code))
SD_lab = pd.read_csv('short_{}_Lab.csv'.format(disease_code))
SD_procedure = pd.read_csv('short_{}_Procedure.csv'.format(disease_code))

In [9]:
def shortest_name(name_lst):
    return min(name_lst, key=len).lower()

patient_num = SD_patient.shape[0]
frequent_threshold = 0.05*patient_num
print 'threshold is {}'.format(frequent_threshold)

grouped = SD_lab[SD_lab.lab_val.notnull()].groupby('mrd_lab_id')
lab_count_by_id = grouped.agg({'lab_nm': shortest_name}).assign(count=grouped.size())

lab_count_by_nm = lab_count_by_id.groupby('lab_nm').sum()
ignore_lab_nm = {'final report', 'color', 'additional comments', 'comment', 
                 'unit number', 'unit tag comment', 'units ordered'}

lab_count_by_nm = lab_count_by_nm[(lab_count_by_nm['count'] > frequent_threshold).values
                                  & ~lab_count_by_nm.index.isin(ignore_lab_nm)]
lab_count_by_nm.to_csv('frequent_labs.csv')
lab_count_by_nm

threshold is 429.3

                                  count
lab_nm
% free psa                         1033
%cd3                               2555
abo/rh(d)                         12556
abs cd3+                           1046
abs cd3+ cd4+                      2328
abs cd3+ cd8+                      2157
absolute bands                     1285
absolute basophils               161598
absolute blast                     1306
absolute blasts                    1314
...                                 ...
wbc                               18809
wbc morphology                      482
wbc morphology comments            1330
white cell count                 285410
whole blood glucose                6563
whole blood ionized calcium        9773
whole blood ionized calcium - c    1059
whole blood potassium              5721
whole blood sodium                 3025
zinc, serum                         580

[602 rows x 1 columns]

In [10]:
grouped = SD_med.groupby('mrd_med_id')
med_count_by_id = grouped.agg({'generic_nm': shortest_name}).assign(count=grouped.size())
med_count_by_nm = med_count_by_id.groupby('generic_nm').sum()
med_count_by_nm = med_count_by_nm[med_count_by_nm['count'] > frequent_threshold]

med_count_by_nm.to_csv('frequent_meds.csv')

med_count_by_nm

                                                    count
generic_nm
1,1-ethenediamine, n-(2-(((5-((dimethylamino)me...   1043
acetaminophen                                       27181
acetaminophen-codeine                                 841
acetaminophen-hydrocodone                           31325
acetaminophen/butalbital/caffeine                     465
acetaminophen/codeine                                 908
acetaminophen/hydrocodone                            8807
acetaminophen/oxycodone                               459
acetylcysteine                                       1443
activated dimethicone                                2334
...                                                   ...
venlafaxine/venlafaxine                              1059
verapamil                                             998
vitamin b 12                                         2998
vitamin e                                             461
vitamin k 1                                          1830
voriconazole                                         1536
warfarin                                             9545
zinc sulfate                                          865
ziprasidone                                           460
zolpidem                                            12634

[435 rows x 1 columns]

In [11]:
grouped = SD_procedure[SD_procedure['order_type_desc'] != 'LAB'].groupby('order_cpt_cd')
procedure_count_by_id = grouped.agg({'order_nm': shortest_name}).assign(count=grouped.size())
procedure_count_by_nm = procedure_count_by_id.groupby('order_nm').sum()
procedure_count_by_nm = procedure_count_by_nm[procedure_count_by_nm['count'] > frequent_threshold]
procedure_count_by_nm.to_csv('frequent_procedures.csv')
procedure_count_by_nm

                                       count
order_nm
allergy prick tests for aeros            596
ap ancillary testing report             1303
arterial blood gases, nmh               2344
bi breast us limited left                609
bi breast us limited right               611
body fluid report                        589
bone density                             995
bone marrow report                       696
br diagnostic digital mammogram bilat   1864
br diagnostic digital mammogram lt       479
...                                      ...
xr foot right                           1008
xr hand routine left                     736
xr hip left                             1218
xr knee notch view bilateral             502
xr leg (tibula/fibula) left              542
xr pelvis (judet)                        592
xr shoulder bilateral                   1084
xr spine lumbar (ap/lateral)             473
xr spine scoliosis (ap)                  557
xr wrist left                            892

[186 rows x 1 columns]